.promo-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4rem 6rem;
  background-color: #F2F2F2;
  z-index: 2;
  margin: 6rem 0;
  flex-wrap: wrap; /* Asegura que el contenido se ajuste en pantallas pequeñas */
}

.text-content {
  max-width: 50%;
  padding-right: 2rem;
}

.text-content h1 {
  font-size: 2.5em;
  margin-bottom: 20px;
  color: #333;
  line-height: 4.5rem;
}

.text-content p {
  font-size: 1em;
  line-height: 1.5;
  color: #333;
}

.image-content {
  max-width: 50%;
}

.image-content img {
  width: 100%;
  border-radius: 32px;
}

.divider {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 6rem 0 3rem;
  z-index: 4;
}

.stick {
  position: relative;
  width: 90%;
  max-width: 1400px;
  height: 10px;
  background: linear-gradient(90deg, #7b4b28, #a46f48);
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.leaf {
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 50% 50% 50% 0;
  transform: rotate(45deg);
  animation: wiggle 4s infinite ease-in-out;
  transform-origin: center;
}

.leaf:nth-child(1) { background-color: #4caf50; top: -8px; left: 5%; animation-delay: 0s; }
.leaf:nth-child(2) { background-color: #66bb6a; bottom: -8px; left: 12%; transform: rotate(-45deg); animation-delay: 0.2s; }
.leaf:nth-child(3) { background-color: #81c784; top: -8px; left: 22%; animation-delay: 0.4s; }
.leaf:nth-child(4) { background-color: #4caf50; bottom: -8px; left: 32%; transform: rotate(-45deg); animation-delay: 0.6s; }
.leaf:nth-child(5) { background-color: #66bb6a; top: -8px; left: 44%; animation-delay: 0.8s; }
.leaf:nth-child(6) { background-color: #388e3c; bottom: -8px; left: 56%; transform: rotate(-45deg); animation-delay: 1s; }
.leaf:nth-child(7) { background-color: #4caf50; top: -8px; left: 66%; animation-delay: 1.2s; }
.leaf:nth-child(8) { background-color: #81c784; bottom: -8px; left: 76%; transform: rotate(-45deg); animation-delay: 1.4s; }
.leaf:nth-child(9) { background-color: #66bb6a; top: -8px; left: 87%; animation-delay: 1.6s; }
.leaf:nth-child(10) { background-color: #388e3c; bottom: -8px; right: 2%; transform: rotate(-45deg); animation-delay: 1.8s; }

@keyframes wiggle {
  0%, 100% { transform: rotate(45deg) translateY(0); }
  50% { transform: rotate(45deg) translateY(-2px); }
}

.toucan, .coati, .yaguarate, .jaguar {
  position: absolute;
  width: 110px;
  z-index: 1;
  animation: perch 4s ease-in-out infinite;
}

.toucan { top: -64px; left: 1px; }
.coati { top: -74px; left: 1056px; }
.yaguarate { top: -83px; left: 59px; transform: scaleX(-1); }
.jaguar { top: -83px; left: 1200px !important; }



/* Responsive Styles */
@media (max-width: 1200px) {
  .promo-section {
    padding: 3rem 4rem;
    flex-direction: column;
    text-align: center;
  }

  .text-content,
  .image-content {
    max-width: 100%;
    margin-bottom: 2rem;
  }

  .text-content h1 {
    font-size: 2.2em;
    line-height: 4.2rem;
  }

  .text-content p {
    font-size: 1.1em;
  }

  .divider {
    margin: 3rem 0 2rem;
  }

  .stick {
    max-width: 100%;
    height: 8px;
  }

  .toucan, .coati, .yaguarate, .jaguar {
    width: 90px;
  }
  .toucan{
    top: -54px;
  }
  .coati{
    left: 600px;
    top: -61px;
  }
  .yaguarate{
    left: 50px;
    top: -69px;
  }
}

@media (max-width: 768px) {
  .promo-section {
    padding: 2rem 2rem;
  }

  .text-content h1 {
    font-size: 1.8em;
    line-height: 3.8rem;
    text-align: center;
  }

  .text-content p {
    font-size: 1em;
    text-align: center;
  }

  .image-content img {
    border-radius: 20px;
  }

  .toucan, .coati, .yaguarate, .jaguar {
    width: 80px;
  }
  .toucan{
    top: -44px;
  }
  .coati{
    left: 350px;
    top: -51px;
  }
  .yaguarate{
    left: 40px;
    top: -59px;
  }
}

@media (max-width: 480px) {
  .promo-section {
    padding: 1.5rem 1rem;
    
  }

  .text-content h1 {
    font-size: 1.5em;
    line-height: 3.5rem;
  }

  .text-content p {
    font-size: 0.9em;
  }

  .image-content img {
    border-radius: 15px;
  }

  .toucan, .coati, .yaguarate, .jaguar {
    width: 70px;
  }
  .toucan{
    top: -43px;
  }
  .yaguarate{
    left: 30px;
    top: -52px;
  }
  .coati{
    left: 300px;
    top: -47px;
  }
}
